altgraph==0.17.2
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
distlib==0.3.3
Django==3.2.8
docutils==0.17.1
et-xmlfile==1.1.0
filelock==3.3.1
future==0.18.2
gTTS==2.2.3
idna==3.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.4.2
kivy-deps.sdl2-dev==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
openpyxl==3.0.7
pefile==2021.9.3
Pillow==8.3.0
Pillow-PIL==0.1.dev0
platformdirs==2.4.0
Pygments==2.10.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyPDF2==1.26.0
pypiwin32==223
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
virtualenv==20.9.0
virtualenvwrapper-win==1.2.6
